.page {
  display: grid;
  grid-template-areas: "banner" "writings" "session";
  align-items: start;
  gap: 1rem;

  margin-block: 2rem;

  .banner {
    grid-area: banner;
    justify-self: center;

    aspect-ratio: 5/6;

    block-size: 16rem;

    > img {
      object-fit: cover;

      inline-size: 100%;
      block-size: 100%;

      border-radius: var(--border-radius);
    }
  }

  .sessions {
    grid-area: session;
    display: grid;
    gap: 1.5rem;

    margin-block-start: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .page {
    grid-template-areas: "writings banner" "session session";
    grid-template-columns: 3fr 1fr;

    .banner {
      justify-self: end;
    }

    .writings {
      > ul {
        gap: 2rem;
      }
    }

    .sessions {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
