.cta-section {
  display: grid;

  .price {
    > span {
      color: var(--color-zinc-500);

      padding-inline: 0.5rem;

      font-size: var(--fz-100);
    }
  }

  .cta {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-flow: row-reverse wrap;

    margin-block-start: 2rem;

    .button {
      min-inline-size: 20ch;
    }
  }
}
