.activity-info {
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;

    margin-block-end: 1.5rem;

    > h1 {
      color: var(--color-zinc-800);

      font-size: var(--fz-600);
      font-weight: 600;
    }

    .actions {
      display: flex;
      align-items: center;
      flex-flow: row-reverse wrap;
      gap: 0.625rem;

      > * {
        gap: 0.25rem;
        padding: 0;

        > svg {
          font-size: var(--fz-400);
        }
      }
    }
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin-block-end: 1.5rem;

    > li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: var(--fz-500);
        color: var(--color-primary);
      }

      > p {
        font-size: var(--fz-300);
      }

      .label {
        font-weight: 600;
      }
    }
  }
}
