.activity-detail {
  grid-area: writings;

  .content {
    :global(.inline-perforations) {
      margin-block: 2rem;
    }

    .activity-notice {
      > ul {
        display: grid;
        gap: 0.5rem;

        margin-block-end: 2rem;

        color: var(--color-zinc-700);
        font-size: var(--fz-300);

        > li {
          list-style: inside;

          &::marker {
            color: var(--color-primary);
          }

          .terms {
            padding-inline: 0.25rem;
            color: var(--color-primary);

            cursor: pointer;
          }
        }
      }
    }
  }
}
