.event-type-filter {
  .title {
    font-size: var(--fz-400);
    margin-block-end: 1rem;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    > button {
      flex: 1 0 auto;
      font-size: var(--fz-300);

      background-color: transparent;
      color: var(--color-primary);

      display: grid;
      place-content: center;

      padding: 0.5rem 1rem;

      border: 1px solid currentColor;
      border-radius: var(--border-radius);

      cursor: pointer;
      transition:
        var(--animation-duration-normal) background-color,
        color ease-in-out;

      &:hover {
        background-color: var(--color-primary-fade);
        color: var(--color-gray-16);

        border: 1px solid var(--color-primary-fade);
      }
      &.active {
        background-color: var(--color-primary);
        color: var(--color-primary-opposite);

        border: 1px solid var(--color-primary);
      }
    }
  }
}
