.popup {
  inline-size: 90%;

  position: fixed;
  inset-inline: 0;
  inset-block-end: 1rem;
  z-index: 999;

  box-shadow: var(--shadow-500);

  padding: 1rem;
  margin-inline: auto;

  border-radius: var(--border-radius);

  background-color: var(--background-color-popup);
  color: var(--color-popup);

  .close {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    > button {
      padding: 0;

      > svg {
        font-size: var(--fz-400);
        color: var(--color-popup);
      }
    }
  }

  &.default {
    border: 1px solid var(--color-border);

    --background-color-popup: var(--color-surface);
    --color-popup: var(--color-text);
  }

  &.success {
    --background-color-popup: var(--color-success);
    --color-popup: var(--color-success-opposite);
  }

  &.warning {
    --background-color-popup: var(--color-warning);
    --color-popup: var(--color-warning-opposite);
  }

  &.destructive {
    --background-color-popup: var(--color-destructive);
    --color-popup: var(--color-destructive-opposite);
  }
}

@media screen and (min-width: 768px) {
  .popup {
    inline-size: 20rem;
    inset-inline: 1rem;
    margin-inline: 0;
  }
}
