.city-filter {
  overflow-y: auto;
  block-size: 16rem;

  > li {
    border-block-end: 1px solid var(--color-border);

    &:last-child {
      border-block-end: none;
    }
  }

  .item {
    inline-size: 100%;
    justify-content: start;
    padding-block: 0.75rem;

    &:hover {
      background-color: var(--color-surface-muted);
      border-radius: var(--border-radius);
    }

    &.active {
      background-color: var(--color-primary);
      color: var(--color-primary-opposite);

      border-radius: var(--border-radius);
    }
  }
}
