.global-search-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  inline-size: min(50rem, 100%);

  border: 1px solid var(--color-gray-20);
  border-radius: 999rem;

  padding-inline: 1rem;

  .search {
    display: flex;
    align-items: center;

    font-size: var(--fz-500);
  }
  > input {
    flex: 1 1 0;

    background-color: transparent;

    padding: 1rem;
    border: none;
    min-inline-size: 0;

    font-size: var(--fz-300);

    &:focus {
      outline: none;
    }
  }

  .divider {
    background-color: var(--color-gray-20);
    block-size: 2em;
    inline-size: 1px;
  }
  .cities {
    button {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      background-color: transparent;
      color: var(--color-gray-98);
      padding: 0.5em 0.5rem 0.5rem 1rem;

      border: none;
      border-radius: 1.25rem 0.5rem 0.5rem 1.25rem;

      cursor: pointer;

      font-size: var(--fz-300);
      font-weight: 500;

      svg {
        font-size: var(--fz-500);
      }
      &:hover {
        background-color: var(--color-gray-16);
      }
    }
  }

  &:focus-within {
    border-color: var(--color-primary);

    .search {
      color: var(--color-primary);
    }
  }
}
