.price-list-modal {
  padding: 1rem;

  > ul {
    > li {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;

      padding-block: 0.5rem;

      .label {
        font-weight: 600;
      }

      .price {
        display: flex;
        gap: 0.25rem;
      }

      &::before {
        content: "";

        inline-size: 0.5rem;
        block-size: 0.5rem;

        border-radius: 50%;
        border: 2px solid var(--color-primary);
      }
    }
  }
}
