.filter-card {
  background-color: var(--color-surface);

  border-radius: var(--border-radius);
  padding: 1rem;

  box-shadow: var(--shadow-500);

  .title {
    font-size: var(--fz-400);
    margin-block-end: 1rem;
  }
}
