.filter {
  .title {
    font-size: var(--fz-400);

    margin-block-end: 0.5rem;
  }

  .list {
    block-size: 16rem;
    overflow-y: auto;

    :last-child {
      border-block-end: none;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    > * {
      flex: 1 0 auto;
      font-size: var(--fz-300);
    }
  }
}
