.filter-summary {
  display: grid;
  grid-template-areas: "title button" "filters filters";
  align-items: start;
  column-gap: 0.5rem;
  row-gap: 1rem;

  background-color: var(--color-surface);

  border-radius: var(--border-radius);
  padding: 1rem;

  box-shadow: var(--shadow-500);

  .title {
    grid-area: title;
  }

  .remove-all {
    grid-area: button;
    justify-self: end;
    font-size: var(--fz-300);
  }

  .filters {
    grid-area: filters;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    > li {
      > button {
        border-radius: 999px;
        font-size: var(--fz-300);

        &:hover {
          background-color: var(--color-destructive);
          color: var(--color-destructive-opposite);

          border-color: var(--color-destructive);
        }
      }
    }
  }
}
