.not-found {
  display: grid;
  grid-template-areas: "writings" "cta" "visuals";
  place-content: center;
  row-gap: 1rem;

  min-block-size: 100%;

  .writings {
    grid-area: writings;

    text-align: center;

    h1 {
      font-size: var(--fz-700);
    }

    h2 {
      font-size: var(--fz-500);
    }
  }

  .cta {
    grid-area: cta;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    button {
      font-weight: 500;
    }
  }

  .visuals {
    grid-area: visuals;

    img {
      inline-size: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .not-found {
    grid-template-areas: "writings cta" "visuals visuals";
    column-gap: 1rem;

    .writings {
      text-align: initial;
    }
  }
}
