.home {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2rem;

  min-block-size: 100%;

  > h1 {
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    font-size: 2.5rem;

    > svg {
      font-size: 1.25em;
    }
  }

  .history {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    .title {
      font-size: 0.875rem;
    }

    > ul {
      display: flex;
      align-items: center;
      gap: 1rem;

      font-size: 0.75rem;

      > li {
        background-color: var(--color-gray-20);
        padding: 0.25rem 0.75rem;
        border-radius: 999rem;
        cursor: pointer;
      }
    }
  }
}
