.home {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2rem;

  grid-template-columns: minmax(0, 1fr);

  min-block-size: 100%;

  > h1 {
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    font-size: var(--fz-700);
  }

  .history {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    margin-block-end: 1rem;

    .title {
      font-size: var(--fz-300);
    }

    > ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;

      font-size: var(--fz-200);

      > li {
        background-color: var(--color-gray-20);
        padding: 0.25rem 0.75rem;
        border-radius: 999rem;
        cursor: pointer;
      }
    }
  }
}
