.stage {
  inline-size: 100%;
  block-size: 100%;

  background-color: var(--color-surface-muted);

  border-radius: var(--border-radius);

  > * {
    > canvas {
      image-rendering: pixelated;
    }
  }
}
