.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 1rem;

  background-color: var(--color-surface);
  box-shadow: var(--shadow-400);

  nav {
    > ul {
      display: flex;
      align-items: center;
      gap: 2rem;

      > li {
        a {
          &.active {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    .login {
      font-weight: 700;
    }
  }
}
