.footer {
  background-color: var(--color-gray-12);
  padding-block: 1rem;

  display: grid;
  grid-template-areas: "branding" "socials" "copy";
  column-gap: 1rem;
  row-gap: 2rem;

  @media screen and (min-width: 768px) {
    grid-template-areas: "branding socials" "copy copy";
  }

  .branding {
    grid-area: branding;

    margin-bottom: 1rem;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: right;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;

      @media screen and (min-width: 768px) {
        justify-content: start;
      }

      > a {
        > svg {
          font-size: 2.5em;
        }
      }
    }

    .description {
      font-size: 0.875rem;
    }
  }

  .socials {
    grid-area: socials;

    margin-inline: auto;
    margin-bottom: 1rem;

    .certificate {
      display: flex;
      gap: 1.5rem;
      margin-bottom: 1rem;
    }

    .icons {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
    }
  }

  .copy {
    grid-area: copy;
    text-align: center;
    font-size: 0.75rem;

    a {
      padding: 0 0.25rem;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
