.price-button {
  &.hide {
    display: none;
  }

  .button {
    justify-content: space-between;

    border-color: var(--color-zinc-300);

    font-size: var(--fz-300);

    &:hover,
    &:focus {
      background-color: var(--color-zinc-50);
      color: var(--color-text);

      border-color: var(--color-primary);

      .arrow {
        transform: translateX(-0.25rem);
        color: var(--color-primary);

        transition-duration: var(--animation-duration-normal);
      }
    }
  }
}
