.dark-mode {
  display: none;

  block-size: 0;
  min-block-size: 100%;
  align-content: center;

  &.active {
    display: grid;
  }

  > button {
    background-color: transparent;
    border: none;

    display: grid;

    > svg {
      font-size: var(--fz-500);
      cursor: pointer;
    }
  }
}
