.activity-type-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  > li {
    flex: 1 0 auto;
    font-size: var(--fz-300);
  }

  .item {
    inline-size: 100%;

    &.active {
      background-color: var(--color-primary);
      color: var(--color-primary-opposite);
    }
  }
}
