.search {
  display: grid;
  gap: 1rem;
  align-items: start; /* items won`t get stretched all the way down */

  margin-block: 2rem;

  .filters {
    display: grid;

    .buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      > * {
        flex: 1 0 auto;
      }
    }
  }

  .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    > * {
      flex-basis: 12rem;
      flex-grow: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  .search {
    grid-template-columns: 1fr 4fr;
  }
}
