.search {
  display: grid;
  gap: 1rem;
  align-items: start; /* items won`t get stretched all the way down */

  margin-block: 2rem;

  .filters {
    display: grid;
    gap: 1rem;
  }

  .result {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    justify-content: center;
    gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .search {
    grid-template-columns: 1fr 4fr;
  }
}
